# Server
PORT=8000

# Comma separated MMDB files
MMDB_FILES=db/GeoOpen-Country.mmdb,db/GeoOpen-Country-ASN.mmdb

# Country metadata JSON
COUNTRY_FILE=db/country.json

# Optional Redis pubsub
LOOKUP_PUBSUB=false
REDIS_URL=redis://127.0.0.1:6379
